:root {
    --grid-cols: 16;
    --grid-rows: 16;
}

* {
    box-sizing: border-box;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
/* remove default button styling */
button{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

body {
    background-color: whitesmoke;
    margin: 0 0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 0;
}

.header__logo {
    font-size: 2rem;
}

.header__github {
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 0;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    margin: 0 auto;
    gap: 50px;
}

.canvas {
    height: 512px;
    width: 512px;
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    box-shadow: 
        0 0 7px rgb(16, 16, 16, 0.4),
        0 0 15px rgba(16, 16, 16, 0.1);;
}

.canvas__tile {
    background-color: white;
}

.options {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;

    background-color: bisque;
}

.options__clear-btn {
    background-color: red;
}