:root {
    --grid-cols: 16;
    --grid-rows: 16;

    --bg-color1: whitesmoke;
    --bg-color2: gainsboro;
    --font-color1: black;
    --font-color2: white;
    --btn-color1: orange;
    --btn-color2: brown;
}

* {
    box-sizing: border-box;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

button{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;

    width: 100%;
    color: var(--font-color2);
    padding: 8px 8px;
    border-radius: 2px;
    border: 2px solid var(--btn-color2);
    background-color: var(--btn-color1);
    box-shadow: 0 8px var(--btn-color2);
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px var(--btn-color2);
}

button:active,
button.--active {
    transform: translateY(7px);
    box-shadow: 0 1px var(--btn-color2);
}


body {
    background-color: var(--bg-color1);
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 20px 0;

    font-family: 'Press Start 2P', cursive;
}

.header__logo {
    font-size: 2rem;
}

.header__github {
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 0;
}

.main {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 900px;
    margin: 0 auto;
    gap: 50px;

    font-family: 'Press Start 2P', cursive;
}

.canvas {
    height: 512px;
    width: 512px;
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    box-shadow: 
        0 0 7px rgb(16, 16, 16, 0.4),
        0 0 15px rgba(16, 16, 16, 0.1);
}

.canvas__tile {
    background-color: white;
}

.options {
    position: absolute;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
    gap: 16px;

    background-color: var(--bg-color2);
}

.options__color-picker {
    all: unset;
    height: 64px;
    width: 64px;
}

.options__size-slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 4px;
}

.options__size-picker {
    all: unset;
    border: 2px solid var(--btn-color2);
    border-radius: 2px;
    background-color: var(--btn-color2);
    accent-color: var(--btn-color1);
}

